<div class="contrato-container">
  <div #contratoContainer class="formulario" [innerHTML]="contenidoHtml"></div>
  <div class="botones-container">
    <button class="boton boton-firmar" (click)="firmar()">
      <i class="icono-firma"></i>
      Firmar
    </button>
    <button (click)="aceptar()" class="boton boton-aceptar">
      <i class="icono-check"></i>
      Aceptar
    </button>
  </div>
</div>
@if (clickfirma()) {
  <app-firma
    (firma)="guardarfirma($event)"
    [clickfirma]="clickfirma"
  ></app-firma>
}
@if (error()) {
  <app-mostrarerror [error]="error" [mensaje]="mensajeerror"></app-mostrarerror>
}
@if (cargando) {
  <app-pantalla-carga></app-pantalla-carga>
}
@if (aviso()) {
  <app-aviso
    [cerrar]="aviso"
    [mensaje]="mensajeaviso"
    (aceptar)="confirmarprestamo()"
  ></app-aviso>
}
@if (avisoexito()) {
  <app-aviso-exito
    [exito]="avisoexito"
    [mensaje]="mensajeexito"
    (accion)="redirigirAnterior()"
  ></app-aviso-exito>
}
