<div class="contrato-container">
  @if (destinoPrestamo === 'Clase') {
    <div class="form-container-docente">
      <div class="form-group">
        <label>Carrera</label>
        <app-custom-select
          name="carrera"
          [(ngModel)]="idCarrera"
          (ngModelChange)="actualizarContrato()"
          [opciones]="carrerasOpciones"
          placeholder="Seleccione una carrera"
        ></app-custom-select>
      </div>
      <div class="form-group">
        <label>Materia</label>
        <input 
          type="text" 
          class="form-input" 
          [(ngModel)]="nombreMateria" 
          (ngModelChange)="actualizarContrato()"
          placeholder="Ingrese la materia"
        />
      </div>
    </div>
  }
  <div #contratoContainer class="formulario" [innerHTML]="contenidoHtml"></div>
  <div class="botones-container">
    <button class="boton boton-firmar" (click)="firmar()">
      <i class="icono-firma"></i>
      Firmar
    </button>
    <button (click)="aceptar()" class="boton boton-aceptar">
      <i class="icono-check"></i>
      Aceptar
    </button>
  </div>
</div>
@if (clickfirma()) {
  <app-firma
    (firma)="guardarfirma($event)"
    [clickfirma]="clickfirma"
  ></app-firma>
}
@if (error()) {
  <app-mostrarerror [error]="error" [mensaje]="mensajeerror"></app-mostrarerror>
}
@if (cargando) {
  <app-pantalla-carga></app-pantalla-carga>
}
@if (aviso()) {
  <app-aviso
    [cerrar]="aviso"
    [mensaje]="mensajeaviso"
    (aceptar)="confirmarprestamo()"
  ></app-aviso>
}
@if (avisoexito()) {
  <app-aviso-exito
    [exito]="avisoexito"
    [mensaje]="mensajeexito"
    (accion)="redirigirAnterior()"
  ></app-aviso-exito>
}
