<div class="form-container">
  <button class="btn-close" (click)="cerrar()">
    <img src="assets/x.png" alt="Cerrar" />
  </button>
  <div class="form-content">
    <h2>Editar Categoría</h2>
    <form #form="ngForm" (ngSubmit)="validaredicion()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="categoria.Nombre"
          required
          maxlength="50"
          minlength="3"
          placeholder="Ingresa el nombre de la categoría"
          class="form-input"
        />
      </div>
      @if (error()) {
        <app-mostrarerror
          [inline]="true"
          [error]="error"
          [mensaje]="mensajeerror"
        ></app-mostrarerror>
      }
      <div class="form-submit">
        <button type="submit" class="register-button" [disabled]="!form.valid">
          <span>Actualizar Categoría</span>
        </button>
      </div>
    </form>
  </div>
</div>
@if (aviso()) {
  <app-aviso
    [cerrar]="aviso"
    [mensaje]="mensajeaviso"
    (aceptar)="confirmar()"
  ></app-aviso>
}
@if (exito()) {
  <app-aviso-exito
    [exito]="exito"
    [mensaje]="mensajeexito"
    (accion)="cerrar()"
  ></app-aviso-exito>
}
