<div class="form-container">
  <button class="btn-close" (click)="cerrar()">
    <i class="fas fa-times"></i>
  </button>
  <h2>Agregar Equipo al Mantenimiento</h2>
  <form #form="ngForm" (ngSubmit)="form.valid && agregarEquipo()">
    <div class="form-group">
      <label for="tipoMantenimiento">Tipo de Mantenimiento</label>
      <app-custom-select
        #tipomantenimientoModel="ngModel"
        name="tipoMantenimiento"
        [(ngModel)]="tipomantenimiento"
        required
        [opciones]="tipoOpciones"
        [invalid]="
          !!(
            tipomantenimientoModel.invalid &&
            (tipomantenimientoModel.dirty || tipomantenimientoModel.touched)
          )
        "
        placeholder="Selecciona el tipo de mantenimiento"
      ></app-custom-select>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción del Mantenimiento</label>
      <textarea
        #descripcionModel="ngModel"
        id="descripcion"
        name="descripcion"
        [(ngModel)]="descripcion"
        required
        rows="4"
        placeholder="Describe el mantenimiento a realizar en este equipo"
        class="form-input"
      ></textarea>
    </div>
    <div class="form-submit">
      <button
        type="submit"
        class="btn btn-primary register-button"
        [disabled]="form.invalid"
      >
        <i class="fas fa-check"></i> Agregar equipo
      </button>
    </div>
  </form>
</div>
